<div class="container">

  <div class="col-md-10 mx-auto my-5">

    <h1 class='text-center'><strong>About</strong></h1>

    <p class='text-center font-weight-light'>
      大阪parkは大阪府限定の公園検索サイトです。</br>
      いつもと違う公園へ子供を連れて行きたい、</br>
      人気の公園や用途に合った公園を探したい、など<br>
      公園を利用する際の検索ツールとして活用できるようにと作成しました。</br>
      会員登録をすることで公園のお気に入り登録や利用後のコメント投稿、公園の評価ができます。</br>
      公園の詳細ページでは、他の利用者のコメントや評価を確認できるので公園の人気度がすぐにわかります</br>
      公園探しの際はぜひご活用ください。
    </p>

    <div class = "mx-auto">
      <%= image_tag asset_path("top4.jpg", alt: "トップ画像１", class: "img-fluid"), width: "100%", height: "75%" %>
    </div>

  </div>

</div>