<div class="container">

    <h1 class='text-center'><strong>About</strong></h1>

    <p class='text-center'>
      大阪parkは大阪府限定の公園検索サイトです。</br>
      いつもと違う公園へ子供を連れて行きたい、</br>
      人気の公園や用途に合った公園を探したい、など<br>
      公園を利用する際の検索ツールとして活用できるようにと作成しました。</br>
      公園のお気に入り登録をするとマイページで登録した公園の一覧がすぐに確認できます。</br>
      利用した際のレビュー評価も行えるので、他の利用者の声や公園の人気度からおすすめの公園が確認できます。</br>
      ぜひご活用ください。
    </p>

    <p class="d-flex justify-content-center">
      <%= image_tag('about.png') %>
    </p>

  </div>

</div>