<% if favorites_list.empty? %>

  <div class = 'text-center'>
    <p>お気に入りがまだ登録されていません。</p>
  </div>

<% else %>

  <% if favorites_list.present? %>
    <% favorites_list.each do |park| %>

      <div class="col-sm-10 col-md-6 col-lg-4">

        <div class="card mx-4 my-3">
        <%= image_tag park.get_image(150,150), class: "bd-placeholder-img card-img-top" %>
          <div class="card-body column flex-direction:row　p-2">
            <h5 class="card-title"><%=link_to park.name,admin_park_path(park.id)  %></h5>
            <p class="card-text"><%= link_to park.area, admin_search_park_path(keyword: park.area) %></p>
            <p class="card-text"><%= render "admin/park_comments/star_average", park: park %></p>
          </div>
        </div>

      </div>

    <% end %>
  <% end %>

<% end %>