<div class="container px-5 px-sm-0">

  <div class="row">

    <div class = "col-md-8 mx-auto mt-4">

      <p>
        検索キーワード: "<%= @keyword %>"
      </p>

      <%= render 'admin/parks/parks_index', parks: @parks %>

      <%= paginate @parks %>

    </div>

  </div>

</div>