<div class="card" style="width: 15rem;">
  <div class="card-header bg-success text-light text-center">
    タグキーワード一覧
  </div>

  <%= form_tag({controller:"public/parks",action:"index"}, method: :get) do %>

  <ul class="list-group list-group-flush">

    <% Tag.all.each do |t| %>
      <li class="list-group-item">
        <%= check_box :tag_ids, t.name, class: 'mr-2' %>
        <%= t.name %>
      </li>
    <% end %>

      <li class="list-group-item text-center">
        <%= submit_tag '検索', class:"btn btn-primary mt-3 btn-sm" %>
      </li>

  </ul>
  <% end %>
</div>
