<div class="container px-5 px-sm-0">

  <div class="row">

    <div class="col-3 my-4">

     <%= render 'public/parks/tag' %>

    </div>

    <div class = "col-9 mt-4">
      <h3 class="mb-4 text-center">公園一覧</h3>

      <%= render 'public/parks/parks_index', parks: @parks %>

      <%= paginate @parks %>

    </div>

  </div>

</div>


